.dart_tool/
.packages
build/
.idea/
*.iml
.DS_Store
pubspec.lock
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
android/.gradle/
android/local.properties
